<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Deleting the Selected Instance
    </h1>

    <h1>Are Sure To Delete {{dso.Scname}}</h1>

        <form method="POST">
            {% csrf_token %}

            <input type="submit" value="yes-sure-delete">
        </form>


       <h1> <a href="{% url 'SchoolList' %}">No-Take-Me-BackTo-List</a></h1>
<h1><a href="{% url 'detail' pk=dso.pk %}">No-Take-Me-BackTo-Detail</a></h1>





















</body>
</html>